.dot {
  color: black;
}

.product-card {
  align-self: flex-start;
}

.product-discount {
  color: #8b9a9b;
}

.price {
  font-family: "Roboto", sans-serif;
}

.prod-rfc {
  background-color: var(--yellow-test-one);
}

.prod-mtw {
  border-color: var(--orange-test-one);
  border-width: 2px;
  color: var(--orange-test-two);
}

.mycart-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Price Details */
.price-details-container {
  background-color: white;
  min-width: 400px;
  max-width: 420px;
  padding: 1.6rem 1.8rem;
  border: 1px solid black;
}

.price-details-heading {
  text-transform: uppercase;
}

.price-detail-item {
  display: flex;
  justify-content: space-between;
}

.total-amount-container {
  display: flex;
  justify-content: space-between;
}

.total-amount-title,
.total-amount {
  font-weight: bold;
  font-size: 1.35rem;
}

.total-amount-title {
  text-transform: uppercase;
}

.place-order {
  width: 100%;
  padding: 0.6rem 0;
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: var(--blue-place-order);
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 988px) {
  .price-details-container {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .product-card {
    width: 100%;
  }

  .price-details-container {
    min-width: auto;
    width: 100%;
  }
}
