.dot {
  color: black;
}

.mycart_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.item_container {
  max-width: 500px;
  width: 99%;
}

.pricecard_container {
  max-width: 420px;
}

.prod {
  margin-bottom: 1.6rem;
}

@media only screen and (max-width: 954px) {
  .item_container {
    margin: 0 auto;
  }
  .pricecard_container {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
