.filter_panel {
  height: 100%;
  max-width: 280px;
  min-width: 250px;
  padding: 2rem 1rem 5rem 1rem;
  /* padding: 2rem 1rem 0.6rem 1rem; */
  position: fixed;
  top: 62px;
  background-color: white;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
}

.filter_panel::-webkit-scrollbar {
  width: 4px;
}

.filter_panel::-webkit-scrollbar-thumb {
  background-color: #ced4da;
  border-radius: 10px;
}

.filter_option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clear_btn {
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.clear_btn:hover {
  text-decoration: underline;
}

.price_value {
  display: flex;
  justify-content: space-between;
}

input[type="range"] {
  width: 100%;
}

.filter_btn {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  padding: 0.8rem;
  background-color: #333;
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  font-size: 1.2rem;
  display: none;
}

@media only screen and (max-width: 486px) {
  .filter_panel {
    top: 56px;
    max-width: 100%;
    max-height: calc(100vh - 90px);
    width: 98%;
    transform: translateY(100%);
    transition: 0.3s ease-in-out;
    z-index: 2;
  }

  .show_filter {
    transform: translateY(0%);
  }

  .filter_btn {
    display: block;
  }
}
