.filter-panel {
  height: 100%;
  max-width: 280px;
  min-width: 250px;
  padding: 1.6rem 1rem;
  position: fixed;
  top: 62px;
  background-color: white;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.3);
}

.filter-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clear-btn {
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.clear-btn:hover {
  text-decoration: underline;
}

.price-value {
  display: flex;
  justify-content: space-between;
}

input[type="range"] {
  width: 100%;
}

main {
  margin-left: 250px;
}

.move-to-cart {
  background-color: var(--blue-place-order);
}

.products-container {
  margin-top: 1rem;
}

@media only screen and (max-width: 486px) {
  .filter-panel {
    display: none;
  }
  main {
    margin-left: 0;
  }
}
