header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 5;
}

.logo {
  color: black;
}

nav {
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.3);
}

.nav_links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav_links > * {
  margin-right: 16px;
}

.nav_item {
  color: black;
}

.login_btn {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--blue-place-order);
  cursor: pointer;
  color: white;
}

.dot {
  width: 15px;
  height: 15px;
  padding: 4px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--blob-hover2-color);
  top: -2px;
  right: -6px;
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .notify_dot{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--blob-hover2-color);
  margin: 0 auto;
} */
